<div class="_main-content" ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_main-content-body">
        <div class="md-whiteframe-z1 md-padding">
            <h3>Task #{{ task.taskData.id }} {{ task.taskData.project_data.name }}</h3>

            <!--p>Time Left: <span timer-counter seconds-left="task.time_left"></span></p-->

            <form name="resultsForm">
                <div ng-controller="TemplateController as template" class="template-item"
                     ng-repeat="item in task.taskData.template.template_items">

                    <div md-template-compiler="item" editor="false" instance="template"></div>
                </div>
                <div layout="row" class="task-actions" layout-align="end center">
                    <div class="_timer">
                        <div class="_tooltip fx-fade-down fx-dur-1000 fx-ease-quart" ng-cloak=""
                             ng-if="!task.has_read_tooltip">
                            <span class="_main-text">Help us calculate your hourly wage.</span> <br/>
                            <span>The timer will tell you how long it takes you to finish this task.</span>
                            <md-button ng-click="task.gotIt()" class="_cbtn _tooltip-btn">Got it</md-button>
                        </div>
                        <div class="_tooltip _small fx-fade-down fx-dur-1000 fx-ease-quart" ng-cloak=""
                             ng-if="task.readyToSubmit && !task.timerEditable">
                            <span class="_main-text">Was this your time?</span> <br/>
                            <span>Use the edit button to adjust the time before submitting your task.</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-icon class="_clickable-icon" md-font-set="material-icons"
                                     ng-click="task.toggleTimerVisibility()">schedule
                            </md-icon>
                            <!--span ng-hide="task.has_read_tooltip" class="fx-fade-left fx-dur-500 fx-ease-quart">00:00</span-->
                            <div ng-show="!task.has_read_tooltip || task.timerOpen" ng-cloak="" layout="row"
                                 layout-align="start center"
                                 class="fx-fade-left fx-dur-500 fx-ease-quart"
                                 style="min-width: 40px; height: 36px; padding-left: 8px">
                                <timer ng-if="!task.timerEditable" auto-start="false" interval="1000">{{ mminutes }}:{{ sseconds }}</timer>
                                <div ng-if="task.readyToSubmit && task.timerEditable" layout="row" layout-align="start center" style="width: 75px; padding-top: 12px">
                                    <md-input-container class="" style="width: 32px;">
                                        <input aria-label="minutes" type="number" min="0" ng-model="task.timerMinutes" autocomplete="off">
                                    </md-input-container>
                                    <md-input-container class="" style="width: 32px;">
                                        <input aria-label="seconds" type="number" min="0" max="59" ng-model="task.timerSeconds" autocomplete="off">
                                    </md-input-container>
                                </div>
                                <md-icon ng-if="task.timerOpen && task.has_read_tooltip && !task.readyToSubmit"
                                         style="margin-left: 2px; color: rgba(0, 0, 0, 0.2) !important;"
                                         class="_icon-18 _clickable-icon" ng-click="task.toggleTimer()"
                                         md-font-set="material-icons">
                                    {{ task.timerRunning?'pause': 'play_arrow' }}</md-icon>
                                <md-icon ng-if="task.readyToSubmit && !task.timerEditable"
                                         style="margin-left: 2px; color: rgba(0, 0, 0, 0.2) !important;"
                                         class="_icon-18 _clickable-icon" ng-click="task.editTimer()"
                                         md-font-set="material-icons">mode_edit
                                </md-icon>
                            </div>
                        </div>


                    </div>
                    <md-button class="_primary _cbtn" ng-click="task.submitOrSave(2)"
                               tabindex="0">{{ task.readyToSubmit?'Done':'Submit' }}
                    </md-button>
                    <!--md-button ng-click="task.submitOrSave(1)"
                               tabindex="0">Save
                    </md-button-->
                    <md-button class="_cbtn" ng-click="task.skip()"
                               tabindex="0">Skip
                    </md-button>
                </div>
                <div layout="row" layout-align="start center" class="_preference">
                    <md-switch name="auto-accept" ng-model="task.auto_accept" aria-label="Auto-accept next task"
                               ng-change="task.updateUserPreferences(task.auto_accept)">
                        Auto-accept next task
                    </md-switch>
                </div>
            </form>

        </div>
    </div>

</div>
