<div class="_main-content" ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_main-content-body">
        <!--md-button ng-click="openChat(task.taskData.project_data.owner.alias)"  class="md-fab md-mini md-fab-chat-overlay">
            <md-icon class="_icon-18" md-font-set="material-icons">chat</md-icon>
            <md-tooltip>Chat with requester</md-tooltip>
        </md-button-->
        <div class="md-whiteframe-z1 md-padding">
            <div>
                <h3 style="display: inline-block;">Task
                    #{{ task.taskData.id }} {{ task.taskData.project_data.name }}</h3>
            </div>
            <!--p>Time Left: <span timer-counter seconds-left="task.time_left"></span></p-->

            <form name="resultsForm">
                <div ng-if="task.has_read_tooltip" ng-controller="TemplateController as template" class="template-item"
                     ng-repeat="item in task.taskData.template.template_items">

                    <div md-template-compiler="item" editor="false" instance="template"></div>
                </div>
                <div class="_init-instructions" ng-if="!task.has_read_tooltip">
                    <div>First things first! Read this carefully.</div>
                    <!--div>Before you begin, please check out the timer tooltip below and click "GOT IT" after having done
                        so.
                    </div-->
                    <div>You may (optionally) give a thumbs up or down to the task/requester.</div>
                    <div style="margin-top: 20px" ng-if="task.isBoomerangTreatment">Note: If you give a task
                        <md-icon class="_clickable-icon _icon-18" ng-class="{'_t': true}"
                                 md-font-set="material-icons"">thumb_up
                        </md-icon>
                        that means <span
                                class="_important">"I like this: feature this requester's tasks at
                        the top of my task feed in the future"</span>, and if you give it
                        <md-icon class="_clickable-icon _icon-18" ng-class="{'_t': true}"
                                 md-font-set="material-icons"">thumb_down
                        </md-icon>
                        it means
                        <span class="_important">
                            "I don't like this: bury this requester's tasks at the bottom of my task feed in the future"</span>.
                    </div>
                    <!--div style="margin-top: 20px" ng-if="task.isTimerTreatment">
                        Note:  <span class="_important">Our algorithm uses the timer at the bottom to tell you what your hourly wage will be for other
                        tasks, so you can see how much you will make before accepting a task</span>.
                    </div>
                    <div style="margin-top: 20px" ng-if="!task.isTimerTreatment">
                        Note:  <span class="_important">The timer will tell you how long it took you to finish this task.</span>
                    </div-->

                    <div ng-if="task.isTimerTreatment || task.isBoomerangTreatment" class="_important" style="margin-top: 32px">
                        IMPORTANT: The data we collect during these 14 tasks trains our algorithms and will be applied to your interface
                        in the second phase.</div>
                    <div>Thank you!!!</div>
                </div>
                <!--md-divider></md-divider-->
                <div layout="row" class="task-actions" layout-align="end center"
                     style="margin-bottom: 24px; margin-top: 128px;">
                    <div class="_header-actions _timer" style="margin-right: 75px">
                        <div ng-if="task.showRatingTooltip && false" ng-hide="task.rating.id"
                             class="_tooltip _small fx-fade-down fx-dur-1000 fx-ease-quart" ng-cloak="">
                            <span class="_main-text">1. Please rate this requester!</span> <br/>
                            <div>Use the
                                <div style="display: inline-block; vertical-align: middle; height: 8px; width: 8px;"
                                     class="_rating-circle _unchecked"></div>
                                icons to do so.
                            </div>
                        </div>
                        <div class="layout-row layout-align-start-center">
                            <span class="_user-alias"
                                  style="margin-right: 4px">{{ task.taskData.project_data.owner.alias }}</span>

                            <!--div class="_thumb">
                                <md-icon class="_clickable-icon" ng-class="{'_t': task.rating.weight != 3.0}"
                                         md-font-set="material-icons"
                                         ng-click="task.setRating(task.rating, 3.0)">thumb_up
                                </md-icon>
                                <md-tooltip>
                                    {{ task.rating.weight != 3.0? task.tooltipBoomerangThree: 'Unlike' }}</md-tooltip>
                            </div>
                            <div class="_thumb">
                                <md-icon class="_clickable-icon" ng-class="{'_t': task.rating.weight != 1.0}"
                                         md-font-set="material-icons"
                                         ng-click="task.setRating(task.rating, 1.0)">thumb_down
                                </md-icon>
                                <md-tooltip>
                                    {{ task.rating.weight != 1.0?task.tooltipBoomerangOne : 'Undo' }}</md-tooltip>
                            </div-->


                            <div ng-click="task.setRating(task.rating, 1.0)" class="_rating-circle"
                                 ng-class="{'_unchecked': task.rating.id==null,
            '_checked': task.rating.weight>=1.0}">
                                <md-tooltip>{{ task.tooltipBoomerangOne }}</md-tooltip>
                            </div>
                            <div ng-click="task.setRating(task.rating, 2.0)" class="_rating-circle"
                                 ng-class="{'_unchecked': task.rating.id==null || task.rating.weight<2.0,
            '_checked': task.rating.weight>=2.0}">
                                <md-tooltip>{{ task.tooltipBoomerangTwo }}</md-tooltip>
                            </div>
                            <div ng-click="task.setRating(task.rating, 3.0)" class="_rating-circle"
                                 ng-class="{'_unchecked': task.rating.id==null || task.rating.weight<3.0,
            '_checked': task.rating.weight==3.0}">
                                <md-tooltip>{{ task.tooltipBoomerangThree }}</md-tooltip>
                            </div>
                        </div>
                    </div>
                    <!--div class="_timer">
                        <div class="_tooltip fx-fade-down fx-dur-1000 fx-ease-quart" ng-cloak=""
                             ng-if="!task.has_read_tooltip" ng-class="{'_treatment-t1': task.tooltipTaller}">
                            <span class="_main-text">{{ task.tooltipOneTitle }}</span> <br/>
                            <span>{{ task.tooltipOneBody }}</span>
                            <md-button ng-click="task.gotIt()" class="_cbtn _tooltip-btn">Start</md-button>
                        </div>
                        <div class="_tooltip _small fx-fade-down fx-dur-1000 fx-ease-quart" ng-cloak=""
                             ng-if="task.readyToSubmit && !task.timerEditable && false"
                             ng-class="{'_treatment-t2': task.tooltipTaller}">
                            <span class="_main-text">2. {{ task.tooltipTwoTitle }}</span> <br/>
                            <span>{{ task.tooltipTwoBody }}</span>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-icon class="_clickable-icon" md-font-set="material-icons"
                                     ng-click="task.toggleTimerVisibility()">schedule
                            </md-icon>
                            <div ng-show="!task.has_read_tooltip || task.timerOpen" ng-cloak="" layout="row"
                                 layout-align="start center"
                                 class="fx-fade-left fx-dur-500 fx-ease-quart"
                                 style="min-width: 40px; height: 36px; padding-left: 8px">
                                <timer ng-if="!task.timerEditable" auto-start="false"
                                       interval="1000">{{ mminutes }}:{{ sseconds }}</timer>
                                <div ng-if="task.readyToSubmit && task.timerEditable" layout="row"
                                     layout-align="start center" style="width: 75px; padding-top: 12px">
                                    <md-input-container class="" style="width: 60px;">
                                        <input aria-label="minutes" type="number" min="0" ng-model="task.timerMinutes"
                                               autocomplete="off">
                                    </md-input-container>
                                    <md-input-container class="" style="width: 60px;">
                                        <input aria-label="seconds" type="number" min="0" max="59"
                                               ng-model="task.timerSeconds" autocomplete="off">
                                    </md-input-container>
                                </div>
                                <md-icon ng-if="task.timerOpen && task.has_read_tooltip && !task.readyToSubmit"
                                         style="margin-left: 2px; color: rgba(0, 0, 0, 0.2) !important;"
                                         class="_icon-18 _clickable-icon" ng-click="task.toggleTimer()"
                                         md-font-set="material-icons">
                                    {{ task.timerRunning?'pause': 'play_arrow' }}</md-icon>
                                <md-icon ng-if="task.readyToSubmit && !task.timerEditable"
                                         style="margin-left: 2px; color: rgba(0, 0, 0, 0.2) !important;"
                                         class="_icon-18 _clickable-icon" ng-click="task.editTimer()"
                                         md-font-set="material-icons">mode_edit
                                </md-icon>
                            </div>
                        </div>
                    </div-->
                    <md-button ng-disabled="!task.has_read_tooltip" class="_primary _cbtn"
                               ng-click="task.submitOrSave(2)"
                               tabindex="0">{{ task.readyToSubmit?'Done':'Submit' }}
                    </md-button>
                    <!--md-button ng-click="task.submitOrSave(1)"
                               tabindex="0">Save
                    </md-button-->
                    <md-button class="_cbtn" ng-click="task.skip()"
                               tabindex="0">Skip
                    </md-button>
                </div>
                <!--div layout="row" layout-align="start center" class="_preference">
                    <md-switch name="auto-accept" ng-model="task.auto_accept" aria-label="Auto-accept next task"
                               ng-change="task.updateUserPreferences(task.auto_accept)">
                        Auto-accept next task
                    </md-switch>
                </div-->
            </form>

        </div>
    </div>

</div>
