<div class="_main-content" ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_main-content-body">
        <div class="md-whiteframe-z1 md-padding">
            <h3>Task #{{ task.taskData.id }} {{ task.taskData.project_data.name }}</h3>

            <!--p>Time Left: <span timer-counter seconds-left="task.time_left"></span></p-->

            <form name="resultsForm">
                <div ng-controller="TemplateController as template" class="template-item"
                     ng-repeat="item in task.taskData.template.template_items">

                    <div md-template-compiler="item" editor="false" instance="template"></div>
                </div>
                <div layout="row" class="task-actions" layout-align="end center">
                    <div class="_timer">
                        <div class="_tooltip fx-fade-down fx-dur-1000 fx-ease-quart" ng-hide="task.isTimerTooltipOpen">
                            <span class="_main-text">Help us calculate your hourly wage.</span> <br/>
                            <span>The timer will tell you how long it takes you to finish this task.</span>
                            <md-button ng-click="task.gotIt()" class="_cbtn _tooltip-btn">Got it</md-button>
                        </div>
                        <md-icon class="" md-font-set="material-icons">schedule</md-icon>
                        <span ng-hide="task.isTimerTooltipOpen" class="fx-fade-left fx-dur-500 fx-ease-quart">00:00</span>
                    </div>
                    <md-button class="_primary _cbtn" ng-click="task.submitOrSave(2)"
                               tabindex="0">Submit
                    </md-button>
                    <!--md-button ng-click="task.submitOrSave(1)"
                               tabindex="0">Save
                    </md-button-->
                    <md-button class="_cbtn" ng-click="task.skip()"
                               tabindex="0">Skip
                    </md-button>
                </div>
                <div layout="row" layout-align="start center" class="_preference">
                    <md-switch name="auto-accept" ng-model="task.auto_accept" aria-label="Auto-accept next task"
                               ng-change="task.updateUserPreferences(task.auto_accept)">
                        Auto-accept next task
                    </md-switch>
                </div>
            </form>

        </div>
    </div>

</div>
