<div layout="row">
  <md-content class="transparent-background" flex="100">
      <md-list layout="row" class="project-nav">
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==1}">{{project.getStepName(1)}}</md-list-item>
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==2}">{{project.getStepName(2)}}</md-list-item>
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==3}">{{project.getStepName(3)}}</md-list-item>
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==4}">{{project.getStepName(4)}}</md-list-item>
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==5}">{{project.getStepName(5)}}</md-list-item>
            <md-list-item style="text-decoration:none" ng-class="{'active': project.stepid==6}">{{project.getStepName(6)}}</md-list-item>
      </md-list>
      <div class="project-form">
          <h3 class="step">{{project.getStepName(project.stepid)}}</h3>
          <div class="step-content">
              <ng-include src="project.url"></ng-include>
              <div layout="row" class="project-actions" layout-align="end center">
                  <div flex="65" style="margin-left:10%">
                      <md-button ng-click="ctrl.navigateTo('create-project/'+project.getPrevious())" ng-if="project.stepid>1" class="md-raised">Back</md-button>
                  </div>
                  <div flex>
                      <md-button style="background-color: #003366; color: #ffffff" ng-click="project.advance()" ng-if="project.stepid<6" class="md-raised">Next</md-button>
                      <md-button class="md-raised md-primary" ng-if="project.stepid==6" ng-click="project.addProject()">Submit</md-button>
                  </div>
              </div>
          </div>
      </div>
  </md-content>
</div>


