<div layout="row">
	<md-subheader>At D&aelig;mo we want to make task creation simple and intuitive. Get started now by choosing from one of our predesigned templates or by customizing your own.</md-subheader>
</div>
<md-radio-group ng-model="project.templateName">
	<span class="validation-error" ng-show="project.showValidationError">*Please select a template!</span>
	<span ng-repeat="item in project.categories">
		<md-radio-button ng-if="item.name!=='Custom'" ng-value="item.name" ng-click="project.toggle(item)">{{item.name}}</md-radio-button>
		<md-radio-button ng-if="item.name==='Custom'" ng-value="item.name" ng-click="project.toggle(item)" disabled>{{item.name}}</md-radio-button>
	</span>
</md-radio-group>
