<div layout="row" class="_main-content" layout-align="center center" layout-margin>
    <md-content class="authentication-form _main-content-body" layout-padding layout-align="center center"
                layout="column">
        <h1 class="md-headline">Getting things ready...</h1>

        <form name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
            <div style="font-weight: 500; color: #F44336; font-size: 14px;">{{ vm.error }}</div>
        </form>
    </md-content>
</div>

